.buttonReport{
	background: #222222 url('sprites/buttonBgReportCleanBlack.gif') left center !important;
	color:#DDDDDD !important;
}

.buttonReport:hover{
	background: #222222 url('sprites/buttonBgReportCleanBlack.gif') 200px center !important;
}

.buttonQuote {
	background: #222222 url('sprites/buttonBgQuoteCleanBlack.gif') left center !important;
	color:#DDDDDD !important;
}

.buttonQuote:hover {
	background: #222222 url('sprites/buttonBgQuoteCleanBlack.gif') 200px center !important;
}

.button{
	background: #222222 url('sprites/buttonBgCleanBlack.gif') left center !important;
	color:#DDDDDD !important;
}
.button:hover{
	background: #222222 url('sprites/buttonBgCleanBlack.gif') 200px center !important;
}