@charset "utf-8";
/* =Sweclockers Dark Theme
-----------------------------------------------------------------------------------
Topnotch optimized for Google Chrome but may work pretty well in other browsers too.

This userstyle is currently provided to you by:
-Blargmode	Creator and Developer
-atriix		Developer

From the Sweclockers.com forum
*/

/* You may add custom addon styles right here, but it's highly recomended to put it at the bottom of the file instead */


/* Background */

body,
.page,
#siteSearch,
#head,
#head .menuShadow
{background-color:#000000 !important;} /* Black */

body,
.page,
#submenu .menuitem,
#head,
#head .menuShadow
{background-image:url(http://blargmode.se/files/sweclockers_dark_theme/images/grain_dark.png) !important;}

.alt2,
.bbquote,
.vbquote,
.tborder,
#employer,
#vB_Editor_QR_textarea.enabled,
div.statictext,
textarea,
#footer .top,
input[type="text"],
input[type="password"],
input.input,
input.bginput,
select,
div.bbspoilerframe
{background-color:#111111 !important;} /* Black gray */

.bbhighlight,
.alt1,
#vB_Editor_QR_textarea,
#quickreply textarea,
.social.grey,
.panelsurround,
.alt1Active,
.pages .current,
.list_control .sort .current.asc span
{background-color:#222222 !important;} /* Dark grey */


.menuItem,
#head .menu li,
#head #submenu ul li,
#head .menu li.current a,
#head #submenu li.current a,
#head .menu li.current
{background-color:#08090a !important;} /* Dark redgreenishsomething? */


#head,
/*#head .head_main,*/
#head .menuShadow,
.menu,
#infobar,
.page,
.alt1Active
{background:none;} /* No background */

.maincontent{background-color:#111111 !important;}

.php,
.vbimage,
div.bbcode .bbchart,
div.bbcode .bbtable th,
.imagebutton
{background-color:#CCCCCC !important;}

/* Border */


*,
#head,
#head .head_main,
#head .menuShadow,
#head .menu li,
#head .menu li a
#head #submenu ul li,
#head .menu li.current a,
.menu,
#infobar,
.page,
#siteSearch,
.maincontent,
.alt1Active,
.subforums,
.threads,
.forum_toolbar,
.forum_post,
.maincontent,
.layout-center .maincontent,
.layout-center .social.grey,
.alt2,
.bbquote,
.vbquote,
.tborder,
#employer,
#vB_Editor_QR_textarea.enabled,
div.statictext,
textarea,
td.alt2,
td.alt1,
#vB_Editor_QR_textarea,
#quickreply textarea,
table,
#footer,
#footer .top
{border-color:#333333 !important;}


/* Text */

font,
.bbslideshow,
#head #submenu li a,
#head .menu li a,
.list_control .pages a,
.breadcrumbs a,
.navbar a,
.header.article .preamble,
#news .article .preamble a,
.maincontent,
.alt2,
.bbquote,
.vbquote,
.tborder,
#employer,
#vB_Editor_QR_textarea.enabled,
div.statictext,
textarea,
.alt1,
.alt1Active,
#vB_Editor_QR_textarea,
#quickreply textarea,
#footer .top,
#feed .profile,
.social.grey .bbcode,
input[type="text"],
input[type="password"],
input.input,
input.bginput,
select,
div.bbcode p,
.galleryintro p
{color:#8A8A8A !important;} /* Mid-range gray lightened*/ /* Darker version: #6A6A6A; /*


.navbar a:hover,
.navbar a:active
{color:#1F5994 !important;} /* Marine blue */

.bbtable tr,
#head .menu li.current a,
#head #submenu li.current a,
#employer h3
{color:#dedfe4 !important;} /* Light-blue grey lightened*/ /* Darker version: #cccdd2; */


#news .article .preamble a.readmore,
.socialshare li a
{color:#c15200 !important;} /* Orange*/

.bbtable .first
{color:#000 !important;}

.pagehead, .social p{
	color:#eeeeee !important;
}
/* Links */

.following span,
#feed li a,
.bbprisjakt a,
.bbparagraph a,
.articleMost a,
.tools a,
.list_control .sort a,
.forum_post_edited a,
.threadbits a,
.announcement a,
.count a,
.threadtitle a,
.forumtitle a,
.lastpostby a,
.forum_post_profile a,
.forum_post_signature a,
.forum_post_body a,
.readmore,
.articleItem a,
.statistics a,
#feedloader,
.pm a,
.pmfolderjump a,
.sidemenu li a,
.pjContent a
{color: #c15200 !important;}

.following span:hover,
#feed li a:hover,
.bbprisjakt a:hover,
.bbparagraph a:hover,
.articleMost a:hover,
.tools a:hover,
.list_control .sort a:hover,
.forum_post_edited a:hover,
.threadbits a:hover
.announcement a:hover,
.count a:hover,
.threadtitle a:hover,
.forumtitle a:hover,
.lastpostby a:hover,
.forum_post_profile a:hover,
.forum_post_signature a:hover,
.forum_post_body a:hover,
.email a:hover,
.articleItem a:hover,
.statistics a:hover,
#feedloader:hover,
.pm a:hover,
.pmfolderjump a:hover,
.sidemenu li a:hover,
.pjContent a:hover
{color:#ff8d38 !important;}

.threadtitle h3 a,
.forumtitle h3 a,
.lastpostby h3 a
{text-decoration:none !important;}

/* Images */

div.input.icon.funnel input,
input.icon.funnel,
div.input.icon.search input,
input.icon.search,
.socialshare li,
#articleNavi .tools .n
{background-image:url(http://blargmode.se/files/sweclockers_dark_theme/images/icons.png) !important;}

.threadbits .comments{background:url('http://blargmode.se/files/sweclockers_dark_theme/images/icons.png') 0 -1085px no-repeat !important;}

/* Other */

/*images*/
.sidemenu h5
{background-image: url(http://blargmode.se/files/sweclockers_dark_theme/images/sidemenu_header.png) !important;}

/* Banner (gradient) */
#head .head_main {
	background: linear-gradient(top,#08090a,#141416 98%,#272829) !important;
	background: -webkit-gradient(linear,left top,left bottom,from(#08090a),color-stop(98%,#141416),to(#272829)) !important;
	background: -webkit-linear-gradient(top,#08090a,#141416 98%,#272829) !important;
	background: -moz-linear-gradient(top,#08090a,#141416) !important;
	background: -o-linear-gradient(top,#08090a,#141416 98%,#272829) !important;
	background: linear-gradient(top,#08090a,#141416 98%,#272829) !important;
}

/* Other gradients */


.bbExpanderFade {
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(17, 17, 17, 0)),to(rgba(17, 17, 17, 1)),color-stop(.25,rgba(17, 17, 17, 0.5))) !important;
	background-image: -moz-linear-gradient(rgba(17, 17, 17, 0) 0,rgba(17, 17, 17, 0.5) 25%,rgba(17, 17, 17, 1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00111111,endColorstr=#FF111111);
}

/* Buttons */
.list_control .pages a.next {
	background-image:url(http://blargmode.se/files/sweclockers_dark_theme/images/pageNext.png) !important;
}
.list_control .pages a.prev {
	background-image:url(http://blargmode.se/files/sweclockers_dark_theme/images/pagePrev.png) !important;
}

#carousell .left, #carousell .right, #carousell .slider .slide .mask {background-image: url(http://blargmode.se/files/sweclockers_dark_theme/images/carusell.png) !important;}
.profileHeadRight {background-image: url(http://blargmode.se/files/sweclockers_dark_theme/images/divider_vertical.png) !important;}

/* Rounded cornors */
.header .thumbnails li img,
.gallerythumb .image img,
.bg,
.slideholder a img {
	border-radius:10px !important;
	-moz-border-radius:10px !important;
	-webkit-border-radius:10px !important;
}
/* Margin fix */
head .menu li.current a, #head .menu li.current {margin-left:-1px;}

/* Dark stylish buttons */

.buttonReport{
	background: #222222 url('http://blargmode.se/files/sweclockers_dark_theme/images/sprites/buttonBgReportCleanBlack.gif') left center !important;
	color:#DDDDDD !important;
}

.buttonReport:hover{
	background: #222222 url('http://blargmode.se/files/sweclockers_dark_theme/images/sprites/buttonBgReportCleanBlack.gif') 200px center !important;
}

.buttonQuote {
	background: #222222 url('http://blargmode.se/files/sweclockers_dark_theme/images/sprites/buttonBgQuoteCleanBlack.gif') left center !important;
	color:#DDDDDD !important;
}

.buttonQuote:hover {
	background: #222222 url('http://blargmode.se/files/sweclockers_dark_theme/images/sprites/buttonBgQuoteCleanBlack.gif') 200px center !important;
}

.button{
	background: #222222 url('http://blargmode.se/files/sweclockers_dark_theme/images/sprites/buttonBgCleanBlack.gif') left center !important;
	color:#DDDDDD !important;
}
.button:hover{
	background: #222222 url('http://blargmode.se/files/sweclockers_dark_theme/images/sprites/buttonBgCleanBlack.gif') 200px center !important;
}

/*Archive pagination highlight*/
.list_control .pages .current {
	background: #222 !important;
}

/*News carousell doubleslide white corners fix*/
#carousell .slider .slide.double .mask {
	border-radius: 11px;
}

/*Image popup gallery style*/
#TB_window{
	background-color:#494949;
}

#TB_closeWindow a{
	color:#fff;
}

.TB_overlayBG{
	background-color:#363636;
}

/*Wall topic background at profile page*/
#feed .wallTopic .body{
background:#161616;
}